{% extends 'analysis/base.html' %}

{% block extra-scripts %}
	{{ block.super }}
	<script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.13/js/dataTables.bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.13/css/dataTables.bootstrap.min.css">
	<script type="text/javascript">
	$(document).ready(function() {
	    $('#item-identifiers').DataTable();
	} );
	</script>

	<script type="text/javascript">

	  jQuery(function() {
	    jQuery('#users').change(function() {
	        this.form.submit();
	    });
	});
	</script>
{% endblock extra-scripts %}

{% block extra-styles %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
<style>
.my-card
{
    position:absolute;
    left:40%;
    top:-20px;
    border-radius:50%;
}
</style>
{% endblock extra-styles %}

{% block main %}
<div class="panel panel-info">
    <div class="panel-heading">
	    <h4>Participants</h4>
	    
	    <a id="participant_add" title="Add Participant" class="btn btn-sm btn-default" role="button" 
			href="{{ participant_add_url }}?next={{ home_url }}">
			<i class="fa fa-plus fa-sm"></i> Add Participant</a>
	    </div>
	    <div class="panel-body">
	     <table class="table table-hover">
	    <thead>
	      <tr>
	        <th>Identifier</th>
	        <th>Full name</th>
	        <th>Age</th>
	        <th>Role</th>
	        <th>Community</th>
	        <th>District</th>
	      </tr>
	    </thead>
	    <tbody>
	    {% for p in participants %}
	      <tr>
	        <td>{{p.subject_identifier}}</td>
	        <td>{{p.full_name}}</td>
	        <td>{{p.age_in_years}}</td>
	        <td>{{p.role}}</td>
	        <td>{{p.community}}</td>
	        <td>{{p.district}}</td>
	      </tr>
	      {% endfor %}
	    </tbody>
	  </table>
	</div>
</div>
{% endblock main %}
